# PostHog Cloud analytics (https://posthog.com)
# Get PUBLIC_POSTHOG_KEY from your PostHog project settings.
# PUBLIC_POSTHOG_HOST depends on the region you picked when creating the project:
#   US Cloud -> https://us.i.posthog.com (default if unset)
#   EU Cloud -> https://eu.i.posthog.com
PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
